<div class="content home">
    <header class="row cf">
        <div class="menu">
            <a href="#">Online Services</a><!---
            ---><a href="#">Get Answers</a><!---
            ---><a href="#">Forms</a><!---
        ---></div><!---
        ---><div class="search">
            <input type="text" value="search"><!---
            ---><a href="#">search</a>
        </div>
    </header>
    <div class="focal row cf">
        <h2>Save yourself time -<br>renew online
			<span class="more">With our newly redesigned website, it's easier than ever to avoid the long lines and quickly get the information you need.  Your convenience is our priority</span>
			<a href="#" class="foreground">Online Services</a>
		</h2>
        <div class="attention">
            <h3>New to wisconsin?</h3>
            <p>We can get you up to speed on the potential differences</p>
            <a href="#">Learn More</a>
        </div>
        <a href="#" class="note">Photo credit:<br>Christina Klausen</a>
    </div>
    <ul class="row quicklinks">
        <li>
            <a href="#">
                <img src="img/find-locations.png" alt="find locations icon">
                <h3>Find Locations</h3>
                <div class="foreground">Search Now</div>
            </a>
        </li><!---
        ---><li>
            <a href="#">
                <img src="img/renew-online.png" alt="renew online icon">
                <h3>Renew Online</h3>
                <div class="foreground">Use The Portal</div>
            </a>
        </li><!---
        ---><li>
            <a href="#">
                <img src="img/helpful-resources.png" alt="helpful resources icon">
                <h3>Helpful Resources</h3>
                <div class="foreground">Find Answers</div>
            </a>
        </li><!---
        ---><li>
            <a href="#">
                <img src="img/contact-us.png" alt="contact us icon">
                <h3>Contact Us</h3>
                <div class="foreground">Talk To Us</div>
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="announcements">
            <h3>Recent Announcements</h3>
            <ul>
                <li>
                    <h4><span class="date">January 01</span>2015 Driver License Guide is Available</h4>
                    <p>This Driver License Guide will give you information on your eligibility and status, give you a checklist of the documents to take to a DMV Customer Service Center.</p>
                    <a href="#">Go To Guide</a>
                </li>
                <li>
                    <h4><span class="date">September 23</span>Parent's Supervised Driving Program</h4>
                    <p>You play a critical role in helping your teen learn to be a safe driver. The Wisconsin Division of Motor Vehicles (DMV) can help.application form pre-filled.</p>
                    <a href="#">Go To Guide</a>
                </li>
            </ul>
            <a href="#" class="foreground">Announcement Archive</a>
        </div><!---
        ---><div class="newsletter">
            <img src="img/newsletter.png" alt="image of a countryside barn">
            <h3>Sign Up For Our Newsletter</h3>
            <p>Be the first to know about Wisconsin law changes along with our website's exciting new features.</p>
            <input type="text" value="example@email.com">
            <a href="#" class="foreground">Sign Up</a>
        </div>
    </div>
</div>
