//--------------------//
// Size Declarations  //
//--------------------//

$tmp: 6;
$footer-margin: #{$tmp}vmin;
$m_footer-margin: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$resource-height: #{$tmp}vmin;
$m_resource-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 9;
$resource-mobile-height: #{$tmp}vmin;
$m_resource-mobile-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$footer-pad: #{$tmp}vmin;
$m_footer-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 16;
$contact-width: #{$tmp}vmin;
$m_contact-width: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 1.5;
$contact-pad: #{$tmp}vmin;
$m_contact-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$link-pad: #{$tmp}vmin;
$m_link-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$social-media-pad: #{$tmp}vmin;
$m_social-media-pad: round($max-size * 0.01 * $tmp) * 1px;


//-----//
// Css //
//-----//

.site-wrapper > footer {
	font-weight: 400;
	color: $bg-text;
	
	> .more-resources
	 , > .contact {
		margin-top: $footer-margin;
		margin-bottom: $footer-margin;
		padding-left: $content-pad;
		
		> h3 {
			font-size: $font-lv2;
			text-transform: uppercase;
			padding-bottom: $footer-pad;
		}
	}
	
	> .more-resources {
		display: inline-block;
		width: 66.666%;
		border-right: 1px solid $bg-border;
		
		li {
			display: inline-block;
			line-height: $resource-height;
			width: 50%;
		}
	}
	
	> .contact {
		vertical-align: top;
		display: inline-block;
		width: 33.333%;
		
		li {
			line-height: $resource-height;
			
			.type {
				text-transform: uppercase;
				width: $contact-width;
				font-size: $m_font-lv8;
				
				&:after {
					content: ":";
					margin-right: $contact-pad;
				}
			}
		}
				
		img {
			display: inline-block;
			margin-top: $footer-margin;
			
			& + img {
				margin-left: $social-media-pad;
			}
		}
	}
	
	> nav {
		margin: 0 $content-pad $footer-margin;
		padding: $footer-margin 0;
		border-top: 1px solid $bg-border;
		text-align: center;
		
		a {
			color: $bg-text;
			padding: 0 $link-pad;
			text-transform: uppercase;
			font-size: $font-lv6;
		}
	}
}


//-----------------------------//
// Max Non-Mobile Declarations //
//-----------------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	.site-wrapper > footer {		
		> .more-resources
		 , > .contact {
			margin-top: $m_footer-margin;
			margin-bottom: $m_footer-margin;
			padding-left: $m_content-pad;
			
			> h3 {
				font-size: $m_font-lv2;
				padding-bottom: $m_footer-pad;
			}
		}
		
		> .more-resources {			
			li {
				line-height: $m_resource-height;
			}
		}
		
		> .contact {
			li {
				line-height: $m_resource-height;
				
				.type {
					width: $m_contact-width;
					font-size: $m_font-lv8;
					
					&:after {
						margin-right: $m_contact-pad;
					}
				}
			}
				
			img {
				margin-top: $m_footer-margin;
				
				& + img {
					margin-left: $m_social-media-pad;
				}
			}
		}
		
		> nav {
			margin: 0 $m_content-pad $m_footer-margin;
			padding: $m_footer-margin 0;
			
			> a {
				padding: 0 $m_link-pad;
				font-size: $m_font-lv6;
			}
		}
	}
}


//------------//
// Responsive //
//------------//

@media (max-width: #{$responsive-lg}px) and (max-height: #{$responsive-lg}px) {
	.site-wrapper > footer {
		> .more-resources
		 , > .contact {
		 
			margin-left: $content-pad;
			margin-right: $content-pad;
			text-align: center;
			display: block;
			width: auto;
			padding-left: 0;
		}
		
		> .more-resources {
			border-right: none;
		}
		
		> .contact {
			padding-top: $footer-margin;
			border-top: 1px solid $bg-border;
		}
	}
}

@media (max-width: #{$responsive-sm}px) and (max-height: #{$responsive-sm}px) {	
	.site-wrapper > footer {
		> .more-resources
		 , > .contact {
		 
			display: block;
			width: auto;
			text-align: center;
			padding-left: 0;
		}
	
		> .more-resources {
			border-right: none;

			li {
				display: block;
				width: 100%;
				line-height: $resource-mobile-height;
			}
		}
	
		> .contact {
			li {
				line-height: $resource-mobile-height;
			}
		}
		
		> nav {
			border-top: none;
			background-color: $bg;
			margin: $footer-margin 0 0;
		
			> a {
				display: block;
				line-height: $resource-mobile-height;
			}
		}
	}
}


//-------------------------//
// Max Mobile Declarations //
//-------------------------//

// is at most mobile sm, but at least max size
@media (max-width: #{$responsive-sm}px) and (max-height: #{$responsive-sm}px) and (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	.site-wrapper > footer {
		> .more-resources
		 , > .contact {
		
			margin-left: $m_content-pad;
			margin-right: $m_content-pad;
			
			li {
				line-height: $m_resource-mobile-height;
			}
		}
		> .contact {
			padding-top: $m_footer-margin;
		}
		
		> nav {
			margin: $m_footer-margin 0 0;
			
			> a {
				line-height: $m_resource-mobile-height;
			}
		}
	}
}
