//--------------------//
// Size Declarations  //
//--------------------//

$tmp: 4;
$header-margin: #{$tmp}vmin;
$m_header-margin: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$link-pad: #{$tmp}vmin;
$m_link-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$link-height: #{$tmp}vmin;
$m_link-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 10;
$logo-height: #{$tmp}vmin;
$m_logo-height: round($max-size * 0.01 * $tmp) * 1px;


//------//
// Main //
//------//

.site-wrapper > header {
	vertical-align: top;

	> img {
		float: left;
		margin: $header-margin 0 $header-margin $content-pad;
		vertical-align: top;
		height: $logo-height;
	}
	> nav {
		float: right;
		margin-right: $content-pad;
		vertical-align: top;
		
		> a {
			display: inline-block;
			background-color: $primary-dark;
			color: $primary-darkest;
			text-transform: uppercase;
			font-size: $font-lv6;
			font-weight: 400;
			padding: 0 $link-pad;
			height: $link-height;
			line-height: $link-height;
			
			&:hover {
				background-color: $bg;
			}
			
			img {
				height: 13px;
				margin-right: 10px;
			}
		}
	}
	> .mobile-menu {
		display: none;
	}
}


//------------//
// Responsive //
//------------//

@media (max-width: #{$responsive-sm}px) and (max-height: #{$responsive-sm}px) {
	.site-wrapper > header {
		nav {
			display: none;
		}
		.mobile-menu {
			display: inline-block;
			float: right;
			margin-right: $content-pad;
			vertical-align: top;
			
			> img {
				height: $logo-height;
				margin: $header-margin 0 $header-margin $content-pad;
			}
		}
	}
}


//-----------------------//
// Max Size Declarations //
//-----------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	.site-wrapper > header {
		> img {
			margin: $m_header-margin 0 $m_header-margin $m_content-pad;
			height: $m_logo-height;
		}
		
		> nav {
			margin-right: $m_content-pad;
		
			> a {
				font-size: $m_font-lv6;
				padding: 0 $m_link-pad;
				height: $m_link-height;
				line-height: $m_link-height;
			}
		}
		.mobile-menu > img {
			height: $m_logo-height; 
			margin: $m_header-margin 0 $m_header-margin $m_content-pad;
		}
	}
}
