//--------------------//
// Size Declarations  //
//--------------------//

$tmp: 20;
$header-height: #{$tmp}vmin;
$m_header-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 4;
$link-pad: #{$tmp}vmin;
$m_link-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6;
$link-height: #{$tmp}vmin;
$m_link-height: round($max-size * 0.01 * $tmp) * 1px;


//------//
// Main //
//------//

.site-wrapper > header {
	vertical-align: top;

	> .img {
		float: left;
		width: 20%;
		height: $header-height;
		margin-left: $content-pad;
		vertical-align: top;
	}
	> nav {
		float: right;
		margin-right: $content-pad;
		vertical-align: top;
		
		> a {
			display: inline-block;
			background-color: $primary-dark;
			color: $primary-darkest;
			text-transform: uppercase;
			font-size: $font-lv6;
			font-weight: 400;
			padding: 0 $link-pad;
			height: $link-height;
			line-height: $link-height;
		}
	}
}


//-----------------------//
// Max Size Declarations //
//-----------------------//

@media (min-width: #{$max-size}px) and (min-height: #{$max-size}px) {
	.site-wrapper > header {
		> .img {
			height: $m_header-height;
			font-size: $m_font-lv2;
			margin-left: $m_content-pad;
		}
		
		> nav {
			margin-right: $m_content-pad;
		
			> a {
				font-size: $m_font-lv6;
				padding: 0 $m_link-pad;
				height: $m_link-height;
				line-height: $m_link-height;
			}
		}
	}
}
