//--------------------//
// Size Declarations  //
//--------------------//

$tmp: 10;
$menu-height: #{$tmp}vmin;
$m_menu-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 6.5;
$search-height: #{$tmp}vmin;
$m_search-height: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 50;
$input-width: #{$tmp}vmin;
$m_input-width: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 2;
$input-hor-pad: #{$tmp}vmin;
$m_input-hor-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 2.5;
$more-top-pad: #{$tmp}vmin;
$m_more-top-pad: round($max-size * 0.01 * $tmp) * 1px;
$tmp: 4.5;
$more-bot-pad: #{$tmp}vmin;
$m_more-bot-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 2;
$attn-pad: #{$tmp}vmin;
$m_attn-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 1;
$announce-pad: #{$tmp}vmin;
$m_announce-pad: round($max-size * 0.01 * $tmp) * 1px;
$tmp: 3.5;
$announce-archive-pad: #{$tmp}vmin;
$m_announce-archive-pad: round($max-size * 0.01 * $tmp) * 1px;

$tmp: 15;
$newsletter-img-height: #{$tmp}vmin;
$m_newsletter-img-height: round($max-size * 0.01 * $tmp) * 1px;
$tmp: 3;
$newsletter-margin: #{$tmp}vmin;
$m_newsletter-margin: round($max-size * 0.01 * $tmp) * 1px;
$tmp: 1.8;
$newsletter-input-pad: #{$tmp}vmin;
$m_newsletter-input-pad: round($max-size * 0.01 * $tmp) * 1px;
$tmp: 10;
$newsletter-signup-pad: #{$tmp}vmin;
$m_newsletter-signup-pad: round($max-size * 0.01 * $tmp) * 1px;



//------//
// Main //
//------//

.content.home {
	background-color: $ternary;

	// first row
	header {
		background-color: $secondary;
		padding: 0 $content-pad;
	
		.menu {
			float: left;
			font-size: $font-lv5;
			
			> a {
				display: inline-block;
				height: $menu-height;
				line-height: $menu-height;
				padding: 0 20px;
				text-transform: uppercase;
			}
		}
		.search {
			float: right;
			height: $menu-height;
			line-height: $menu-height;
			font-size: $font-lv5;
			vertical-align: middle;
			
			> input {
				display: inline-block;
				width: $input-width;
				height: $search-height;
				line-height: $search-height;
				padding: 0 $input-hor-pad;
			}
			
			> a {
				display: inline-block;
				padding: 0 $content-pad;
				height: $search-height;
				line-height: $search-height;
				background-color: $secondary-light;
				text-transform: uppercase;
				
				&:hover {
					background-color: $secondary-lightest;
				}
			}
		}
	}
	
	// second row
	.focal {
		background-color: blue;
		padding: $h2-pad $content-pad;
	
		> h2 {
			float: left;
			width: 60%;
			font-size: $font-lv1;
			text-transform: uppercase;
			
			> .more {
				font-weight: 400;
				display: block;
				text-transform: none;
				font-size: $font-lv5;
				padding: $more-top-pad 0 $more-bot-pad;
			}
		}
		> .attention {
			vertical-align: top;
			float: right;
			width: 23%;
			background-color: $ternary;
			text-align: center;
			padding: $attn-pad;
			
			> h3 {
				text-transform: uppercase;
				font-size: $font-lv4;
			}
			> p {
				font-size: $font-lv6;
				font-weight: 400;
				padding: $attn-pad 0;
			}
			> a {
				text-transform: uppercase;
				font-size: $font-lv6;
			}
		}
		> a.foreground {
			clear: both;
			float: left;
			background-color: $quaternary;
			text-transform: uppercase;
		}
		> a.note {
			font-size: $font-lv7;
			float: right;
			background-color: $quaternary;
			padding: $note-vert-pad $note-hor-pad;
			text-transform: uppercase;
		}
	}
	
	// third row
	.quicklinks {
		background-color: $quinternary;
		padding: 0 $content-pad;
		
		li {
			display: inline-block;
			width: 25%;
			
			a {
				display: block;
				text-align: center;
				padding: $ql-padding 0;
				
				.img {
					display: inline-block;
					height: $ql-icon-size;
					width: $ql-icon-size;
				}
				
				h3 {
					text-transform: uppercase;
					font-size: $font-lv6;
					margin: $ql-text-padding 0;
				}
				
				> .foreground {
					display: inline-block;
					padding: $ql-fg-vert-padding $ql-fg-hor-padding;
					background-color: $quaternary;
					text-transform: uppercase;
					font-size: font-lv7;
				}
			}
		}
	}
	
	// fourth row
	.announcements {
		padding: 0 $content-pad $h3-pad-bot;
		width: 66.667%;
		background-color: $ternary;
		display: inline-block;
	
		h3 {
			font-size: $font-lv2;
			padding: $h3-pad-top 0 $h3-pad-bot;
			border-bottom: 2px solid $primary;
			text-transform: uppercase;
		}
		
		li {
			border-bottom: 1px solid $primary;
			padding: $h3-pad-bot 0;
			
			> h4 {
				> .date {
					font-weight: 400;
					
					&:after {
						content: " - ";
					}
				}
			
				padding: $announce-pad 0;
				font-size: $font-lv5;
				display: inline-block;
			}
			> p {
				display: block;
				font-weight: 400;
				padding: $announce-pad 0;
			}
			> a {
				text-transform: uppercase;
				font-size: $font-lv5;
				display: block;
				padding: $announce-pad 0;
			}
		}
		
		a.foreground {
			margin: $announce-archive-pad 0;
			text-transform: uppercase;
		} 
	}
	.newsletter {
		width: 33.334%;
		background-color: $ternary-dark;
		display: inline-block;
		vertical-align: top;
		padding-bottom: $newsletter-margin;
		
		> .img {
			background-color: blue;
			display: block;
			height: $newsletter-img-height;
		}
		> h3, > p, > input, > a.foreground {
			margin: $newsletter-margin $content-pad;
		}
		> h3 {
			font-size: $font-lv2;
			text-transform: uppercase;
		}
		> p {
			font-weight: 400;
		}
		> input {
			padding: $newsletter-input-pad $input-hor-pad;
		}
		> a.foreground {
			padding-left: $newsletter-signup-pad;
			padding-right: $newsletter-signup-pad;
		}
	}
}

@media (min-width: 525px) and (min-height: 525px) {
	.content.home {	
		// first row
		header {
			padding: 0 $m_content-pad;
			
			.menu {
				vertical-align: top;
				font-size: $m_font-lv5;
				
				> a {
					height: $m_menu-height;
					line-height: $m_menu-height;
				}
			}
			
			.search {
				height: $m_menu-height;
				line-height: $m_menu-height;
				font-size: $m_font-lv5;
				
				> input {
					width: $m_input-width;
					height: $m_search-height;
					line-height: $m_search-height;
					padding: 0 $m_input-hor-pad;
				}
				> a {
					height: $m_search-height;
					line-height: $m_search-height;
					padding: 0 $m_content-pad;
				}
			}
		}
		
		// second row
		.focal {
			padding: $m_h2-pad $m_content-pad;
			
			h2 {
				font-size: $m_font-lv1;
				
				.more {
					font-size: $m_font-lv5;
					padding: $m_more-top-pad 0  $m_more-bot-pad;
				}
			}
			
			.attention {
				margin-top: $m_h2-pad;
				
				> h3 {
					font-size: $m_font-lv4;
				}
				> p {
					font-size: $m_font-lv6;
					padding: $m_attn-pad 0;
				}
				> a {
					font-size: $m_font-lv6;
				}
			}
			
			a.note {
				font-size: $m_font-lv7;
				padding: $m_note-vert-pad $m_note-hor-pad;
			}
		}
		
		// third row
		.quicklinks {
			padding: 0 $m_content-pad;
			
			> li > a {
				padding: $m_ql-padding 0;
				
				> .img {
					height: $m_ql-icon-size;
					width: $m_ql-icon-size;
				}
				
				> h3 {
					font-size: $m_font-lv6;
					margin: $m_ql-text-padding 0;
				}
				
				> .foreground {
					font-size: $m_font-lv7;
					padding: $m_ql-fg-vert-padding $m_ql-fg-hor-padding;
				}
			}
		}
		
		// fourth row
		.announcements {
			padding: 0 $m_content-pad $m_h3-pad-bot;
			
			> h3 {
				font-size: $m_font-lv2;
				padding: $m_h3-pad-top 0 $m_h3-pad-bot;
			}
			
			li {
				padding: $m_h3-pad-bot 0;
				
				> h4 {
					padding: $m_announce-pad 0;
					font-size: $m_font-lv5;
				}
				> p {
					padding: $m_announce-pad 0;
				}
				> a {
					font-size: $m_font-lv5;
					padding: $m_announce-pad 0;
				}
			}
			
			a.foreground {
				margin: $m_announce-archive-pad 0;
			}
		}
		
		.newsletter {
			padding-bottom: $m_newsletter-margin;
			
			.img {
				height: $newsletter-img-height;
			}

			> h3, > p, > input, > a.foreground {
				margin: $m_newsletter-margin $m_content-pad;
			}

			> input {
				padding: $m_newsletter-input-pad $m_input-hor-pad;
			}
			
			> h3 {
				font-size: $m_font-lv2;
			}
			
			a.foreground {
				padding-left: $m_newsletter-signup-pad;
				padding-right: $m_newsletter-signup-pad;
			}
		}
	}
}
