$primary: white;
$primary-dark: darken($primary, 20%);
$primary-darkest: darken($primary, 50%);
$secondary: #404933; /*green*/
$secondary-light: lighten($secondary, 15%);
$secondary-lightest: lighten($secondary, 30%);
$ternary: #A4393A; /*red*/
$ternary-dark: darken($ternary, 20%);
$ternary-light: lighten($ternary, 20%);
$quaternary: #D69137; /*yellow*/
$quaternary-dark: darken($quaternary, 20%);
$quinternary: #3A3029; /*brown*/
$quinternary-light: lighten($quinternary, 15%);
$input: #333;
$input-light: lighten($input, 30%);
$input-lightest: lighten($input, 68%);
